body {
    background-color: #f7efe5;
}

.btn-primary {
    background-color: #e7664f;
    border-color: black;
}

.btn-primary:hover {
    background-color: #924031;
    border-color: black;
}

.btn-primary:focus {
    background-color: #924031;
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: black;
}