body {
    background-color: #556b2f;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


#output{
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: darkgray;
    border: 5px solid;
    height: auto;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#mState {
    grid-column: 1 / 2;
    grid-row: 2;
    border: 5px solid;
    background-color: darkgray;
    padding: 10px;
}

#card {
    grid-column: 4;
    grid-row: 2;
    border: 5px solid;
    padding: 10px;
}
